<br>
<mat-accordion class="shift">
  <!-- New Shift Form -->
  <mat-expansion-panel [expanded]="true" *ngIf="role === 'MANAGER'" class="create-shift-panel">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Create New Shift
      </mat-panel-title>
    </mat-expansion-panel-header>

    <p>Schedule name: {{ schedule?.name }}</p>
    <p>Schedule from: {{ schedule?.fromDate }} {{ schedule?.fromTime }} </p>
    <p>Schedule to: {{ schedule?.toDate }} {{ schedule?.toTime }}</p>

    <form [formGroup]="shiftForm" (ngSubmit)="submitForm()">
      <div class="form-row">
        <mat-form-field appearance="fill">
          <mat-label>Name</mat-label>
          <input matInput formControlName="name">
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Capacity</mat-label>
          <input matInput formControlName="capacity">
        </mat-form-field>
      </div>

      <div class="form-row">
        <mat-form-field>
          <input matInput [matDatepicker]="fromDatePicker" formControlName="fromDate" placeholder="From Date" (dateChange)="onFromDateChange($event)">
          <mat-datepicker-toggle matSuffix [for]="fromDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #fromDatePicker></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <input matInput [placeholder]=" 'From Time' " formControlName="fromTime" type="time">
        </mat-form-field>
      </div>

      <div class="form-row">
        <mat-form-field>
          <input matInput [matDatepicker]="toDatePicker" formControlName="toDate" placeholder="To Date">
          <mat-datepicker-toggle matSuffix [for]="toDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #toDatePicker></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <input matInput [placeholder]=" 'To Time' " formControlName="toTime" type="time">
        </mat-form-field>
      </div>

      <div class="form-row">
        <mat-form-field appearance="fill">
          <mat-label>Note</mat-label>
          <textarea matInput formControlName="note"></textarea>
        </mat-form-field>
      </div>

      <div class="form-row">
        <button mat-raised-button color="primary" type="submit">Add Shift</button>
      </div>
    </form>
  </mat-expansion-panel>

  <!-- Existing Shifts -->
  <mat-expansion-panel *ngFor="let shift of shifts">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ shift.name }}
      </mat-panel-title>
    </mat-expansion-panel-header>

    <!-- Display mode -->
    <ng-container *ngIf="!shift.isEditing">
      <p>Name: {{ shift.name }}</p>
      <p>From: {{ shift.fromDate }} {{ shift.fromTime }}</p>
      <p>To: {{ shift.toDate }} {{ shift.toTime }}</p>
      <p>Registered: {{ shift.registered.length }} of {{ shift.capacity }} places</p>
      <p>{{ formatRegisteredNames(shift.registered) }}</p>
      <p>Note: {{ shift.note }}</p>
    </ng-container>

    <ng-container *ngIf="shift.isEditing">
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput [(ngModel)]="shift.name">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>From Date</mat-label>
        <input matInput [(ngModel)]="shift.fromDate">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>From Time</mat-label>
        <input matInput [(ngModel)]="shift.fromTime">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>To Date</mat-label>
        <input matInput [(ngModel)]="shift.toDate">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>To Time</mat-label>
        <input matInput [(ngModel)]="shift.toTime">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Capacity</mat-label>
        <input matInput [(ngModel)]="shift.capacity">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Note</mat-label>
        <input matInput [(ngModel)]="shift.note">
      </mat-form-field>
    </ng-container>

    <!-- Wrap buttons in a div with the .actions class -->
    <div class="actions">
      <button mat-stroked-button *ngIf="!shift.isEditing && role === 'MANAGER'" (click)="shift.isEditing = true">Edit
      </button>
      <button mat-stroked-button *ngIf="shift.isEditing" (click)="updateShift(shift); shift.isEditing = false">Save
      </button>
      <button mat-stroked-button *ngIf="shift.isEditing" (click)="shift.isEditing = false">Cancel</button>
      <div matTooltip="{{ isShiftPollAlreadySent[shift.id] ? 'Shift poll has already been sent' : 'Send a shift poll for this shift' }}">
        <button mat-stroked-button color="primary"
                *ngIf="!shift.isEditing && role === 'MANAGER'"
                [disabled]="isShiftPollAlreadySent[shift.id]"
                (click)="sendShiftPoll(shift)">
          Send shift poll
        </button>
      </div>
      <button mat-stroked-button color="warn" *ngIf="role === 'MANAGER'" (click)="deleteShift(shift.id)">Delete</button>
    </div>
  </mat-expansion-panel>

</mat-accordion>
