.actions {
  display: flex;
  justify-content: space-between; /* This will place items on each end */
  align-items: center;
  width: 100%;
}

.delete-button-container {
  margin-left: auto; /* This pushes the delete button to the right */
}

.create-shift-panel {
  margin-bottom: 20px; /* adjust the size of the gap as needed */
}

.form-row {
  display: flex;
  align-items: center; /* Aligns items vertically centered */
  justify-content: space-between; /* Space between the items */
  margin-bottom: 15px; /* Space between rows */
}

.form-row > * {
  flex: 1;
  margin-right: 8px; /* Space between form fields */
}

.form-row:last-child > * {
  margin-right: 0; /* Removes margin for the last item */
}

.actions {
  display: flex;
  justify-content: flex-end; /* Aligns buttons to the right by default */
  align-items: center; /* Centers buttons vertically */
  width: 100%;
}

/* When editing, change the layout */
.actions.editing {
  justify-content: center; /* Centers buttons when editing */
}
