<br>
<mat-accordion multi>
  <mat-expansion-panel *ngFor="let employee of employees">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ employee.firstName }} {{ employee.secondName }}
      </mat-panel-title>
    </mat-expansion-panel-header>

    <div class="employee-details">
      <p>Username: {{ employee.username }}</p>
      <p>Position: {{ employee.position }}</p>
      <p>Birth Date: {{ employee.birthDate | date }}</p> <!-- Format date accordingly -->
      <p>Phone Number: {{ employee.phoneNumber }}</p>
      <p>Role: {{ employee.role }}</p>
      <img *ngIf="employee.photo" [src]="employee.photo" alt="Employee photo">
    </div>
  </mat-expansion-panel>
</mat-accordion>
