.employee-details {
  display: flex;
  flex-direction: column;
  gap: 8px; /* Adjust spacing as needed */
}

.employee-details img {
  width: 100px; /* Adjust size as needed */
  height: auto;
  border-radius: 50%; /* Optional: makes the image round */
}
