<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">


<div id="app">
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">&nbsp; Shift scheduler</a>

    <div class="navbar-nav flex-grow-1">
      <!-- Left aligned items -->
      <ul class="navbar-nav" *ngIf="isLoggedIn">
        <li class="nav-item">
          <a href="/calendar" class="nav-link" routerLink="calendar">Calendar</a>
        </li>
        <li class="nav-item">
          <a href="/schedule" class="nav-link" routerLink="schedule">Schedules</a>
        </li>
        <li class="nav-item">
          <a href="/employee" class="nav-link" routerLink="employee">Employee list</a>
        </li>
        <li class="nav-item">
          <a href="/shift-poll" class="nav-link" routerLink="shift-poll">Shift polls</a>
        </li>
      </ul>
    </div>

    <!-- Right aligned items -->
    <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
      <li class="nav-item">
        <a href="/register" class="nav-link" routerLink="register">Register</a>
      </li>
      <li class="nav-item">
        <a href="/login" class="nav-link" routerLink="login">Log in</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
      <li class="nav-item">
        <a href="/profile" class="nav-link" routerLink="profile"><i class="fas fa-user-circle"></i> Profile</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link" (click)="logout()"><i class="fas fa-sign-out-alt"></i> Logout </a>
      </li>
    </ul>
  </nav>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
