<br>
<div *ngIf="shiftPolls && shiftPolls.length > 0; else noShiftPolls">
  <div class="cards-container">
    <div *ngFor="let shiftPoll of shiftPolls">
      <mat-card [ngClass]="{'accepted-bg': getPollVoteResult(shiftPoll.id) === true, 'rejected-bg': getPollVoteResult(shiftPoll.id) === false}">
        <mat-card-header>
          <mat-card-title>
            <b>{{ shiftPoll.shift.name }}</b>
          </mat-card-title>
        </mat-card-header>

        <mat-card-content class="card-content-layout">
          <div class="column">
            <p>Schedule: {{getPollScheduleResult(shiftPoll.id).name}}</p>
            <p>Note: {{ shiftPoll.shift.note }}</p>
            <p *ngIf="schedules[shiftPoll.id].isLocked == false">Assigned: {{ shiftPoll.shift.registered.length }} of {{ shiftPoll.shift.capacity }}</p>
            <p *ngIf="schedules[shiftPoll.id].isLocked == true">Registered: {{ shiftPoll.shift.capacity }} of {{ shiftPoll.shift.capacity }}</p>
          </div>
          <div class="column">
            <p>From: {{ shiftPoll.shift.fromDate }} at {{ shiftPoll.shift.fromTime }}</p>
            <p>To: {{ shiftPoll.shift.toDate }} at {{ shiftPoll.shift.toTime }}</p>
            <p *ngIf="schedules[shiftPoll.id].isLocked == false"
               matTooltip="{{ formatRegisteredNames(shiftPoll.shift.registered) }}"
              matTooltipPosition="above"
              style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; cursor: pointer;">
              Accepted: {{ formatRegisteredNames(shiftPoll.shift.registered) }}
            </p>
          </div>
        </mat-card-content>

        <mat-card-actions *ngIf="schedules[shiftPoll.id].isLocked == false" align="end">
          <ng-container *ngIf="getPollVoteResult(shiftPoll.id) !== null; else acceptRejectButtons">
            <button mat-button color="primary" (click)="changeAnswer(shiftPoll)">Change Answer</button>
          </ng-container>
          <ng-template #acceptRejectButtons>
            <button mat-button color="primary" (click)="acceptShift(shiftPoll)">Accept</button>
            <button mat-button color="warn" (click)="rejectShift(shiftPoll)">Reject</button>
          </ng-template>
        </mat-card-actions>
        <p *ngIf="schedules[shiftPoll.id].isLocked == true" align="end">Schedule is already locked!</p>
      </mat-card>
    </div>
  </div>
</div>
<ng-template #noShiftPolls>
  <p>There is no shift polls yet.</p>
</ng-template>
