mat-card {
  margin-bottom: 10px; /* Adds space between cards */
}

.accepted-bg {
  background-color: #e8f5e9; /* Light green background for accepted shift polls */
}

.rejected-bg {
  background-color: #ffebee; /* Light red background for rejected shift polls */
}

.none-bg {
  background-color: #ffffff; /* Light green background for accepted shift polls */
}

.card-content-layout {
  display: flex;
  justify-content: space-between; /* Ensures that the columns are spaced out evenly */
}

.column {
  flex: 1; /* Each column takes up equal space */
  padding: 0 10px; /* Adds some padding around the text for better readability */
}

mat-card-header {
  margin-bottom: 20px; /* Adds space below the header */
}

/* Alternatively, you can add padding to the top of the content */
mat-card-content {
  padding-top: 20px; /* Adds space at the top of the content */
}

.cards-container {
  display: flex;
  flex-wrap: wrap; /* Allows cards to wrap onto the next line on smaller screens */
  justify-content: space-around; /* Distributes space around items */
  gap: 20px; /* Adds space between cards */
}

.cards-container > div {
  flex: 1 1 48%; /* Allows cards to grow and shrink but base on almost half of the container width */
  min-width: 300px; /* Minimum width of each card */
}

.mat-card {
  height: 350px;  /* Adjust based on your content needs */
  overflow: auto; /* Adds scrollbar if content exceeds the card's height */
}

.card-content-layout {
  display: flex;
}

.column {
  flex: 1;  /* Each column takes up an equal amount of space */
  display: flex;
  flex-direction: column;
}

.column p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 400px;  /* Adjust based on your layout */
}

