<br>
<div class="form-group">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <input
        type="text"
        formControlName="search"
        class="form-control"
        placeholder="Search"
      />
      <div *ngIf="submitted && f['search'].errors" class="invalid-feedback">
        <div *ngIf="f['search'].errors['required']">Text is required</div>
      </div>
    </div>
  </form>
  <div>
    <ul *ngFor="let cocktailsResponse of cocktails">
      <li>
        <div>
          <div class="row">
            <div class="col-sm">
              <h2>{{cocktailsResponse.name}}</h2>
            </div>
            <div class="col-sm">
              <button class="favorite-btn" mat-raised-button (click)="addToFavorites(cocktailsResponse.name)">+</button>
            </div>
          </div>
          <div class="row">
            <h3>{{cocktailsResponse.instructions}}</h3>
            <mat-accordion class="example-headers-align" multi>
              <mat-expansion-panel *ngFor="let ingredient of cocktailsResponse.ingredients"
                                   (opened)="showCalories(ingredient)">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <h5>{{ingredient}}</h5>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div *ngIf="findNumber(ingredient) !== -1">
                  <h6>Per {{info[findNumber(ingredient)].items[0].serving_size_g}} g:<br>
                    Calories: {{info[findNumber(ingredient)].items[0].calories}} cal<br>
                    Sugar: {{info[findNumber(ingredient)].items[0].sugar_g}} g<br>
                    Protein: {{info[findNumber(ingredient)].items[0].protein_g}} g<br>
                    Fat: {{info[findNumber(ingredient)].items[0].fat_total_g}} g</h6>
                </div>
                <div *ngIf="findNumber(ingredient) === -1">
                  Loading or no data.
                  <ngx-skeleton-loader count="3" appearance="line"></ngx-skeleton-loader>
                </div>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div *ngIf="emptyCocktails">
    <br>
    <p>There is no cocktails with such name or ingredient.</p>
  </div>
</div>
