mat-expansion-panel-header:not([aria-disabled=true]) {
  cursor: default !important;
}

button {
  margin-top: 5px;
  height: 25px;
  float: right;
}

.row:first-child {
  margin-top: 20px;
}

h3 {
  color: grey;
  font-weight: lighter;
}
