.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.delete-button-container {
  margin-left: auto;
}

.form-row {
  display: flex;
  align-items: center; /* Aligns items vertically centered */
  justify-content: space-between; /* Space between the items */
  margin-bottom: 15px; /* Space between rows */
}

.form-row > * {
  flex: 1; /* Each child takes equal space */
  margin-right: 8px; /* Space between form fields */
}

.form-row:last-child > * {
  margin-right: 0; /* Removes margin for the last item */
}

.create-schedule-panel {
  margin-bottom: 20px; /* adjust the size of the gap as needed */
}

