<br>
<mat-accordion class="schedule">
  <!-- New Shift Form -->
  <mat-expansion-panel [expanded]="true"  *ngIf="role === 'MANAGER'" class="create-schedule-panel">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Create New Schedule
      </mat-panel-title>
    </mat-expansion-panel-header>

    <form [formGroup]="shiftForm" (ngSubmit)="submitForm()">
      <div class="form-row">
        <mat-form-field appearance="fill">
          <mat-label>Name</mat-label>
          <input matInput formControlName="name">
        </mat-form-field>
      </div>

      <div class="form-row">
        <mat-form-field appearance="fill">
          <mat-label>From Date</mat-label>
          <input matInput [matDatepicker]="fromDatepicker" formControlName="fromDate">
          <mat-datepicker-toggle matSuffix [for]="fromDatepicker"></mat-datepicker-toggle>
          <mat-datepicker #fromDatepicker></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <input matInput [placeholder]=" 'From Time' " formControlName="fromTime" type="time">
        </mat-form-field>
      </div>

      <div class="form-row">
        <mat-form-field appearance="fill">
          <mat-label>To Date</mat-label>
          <input matInput [matDatepicker]="toDatepicker" formControlName="toDate">
          <mat-datepicker-toggle matSuffix [for]="toDatepicker"></mat-datepicker-toggle>
          <mat-datepicker #toDatepicker></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <input matInput [placeholder]=" 'To Time' " formControlName="toTime" type="time">
        </mat-form-field>
      </div>

      <button mat-raised-button color="primary" type="submit" class="submit-button">Create Schedule</button>

    </form>
  </mat-expansion-panel>

  <!-- Existing Shifts -->
  <mat-expansion-panel *ngFor="let schedule of schedules">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ schedule.name }}
      </mat-panel-title>
    </mat-expansion-panel-header>

    <!-- Display mode -->
    <ng-container *ngIf="!schedule.isEditing">
      <p>Name: {{ schedule.name }}</p>
      <p>From: {{ schedule.fromDate }} {{ schedule.fromTime }}</p>
      <p>To: {{ schedule.toDate }} {{ schedule.toTime }}</p>
    </ng-container>

    <!-- Edit mode -->
    <ng-container *ngIf="schedule.isEditing">
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput [(ngModel)]="schedule.name">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>From Date</mat-label>
        <input matInput [(ngModel)]="schedule.fromDate">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>From Time</mat-label>
        <input matInput [(ngModel)]="schedule.fromTime">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>To Date</mat-label>
        <input matInput [(ngModel)]="schedule.toDate">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>To Time</mat-label>
        <input matInput  [(ngModel)]="schedule.toTime">
      </mat-form-field>



      <!-- Include similar fields for date and time, using [(ngModel)] for binding -->
    </ng-container>

    <div class="actions">
      <button mat-stroked-button *ngIf="!schedule.isEditing && role === 'MANAGER'" [disabled]=schedule.isLocked (click)="schedule.isEditing = true">Edit</button>
      <button mat-stroked-button *ngIf="schedule.isEditing" (click)="updateSchedule(schedule); schedule.isEditing = false">Save</button>
      <button mat-stroked-button *ngIf="schedule.isEditing" (click)="schedule.isEditing = false">Cancel</button>
      <button mat-stroked-button *ngIf="!schedule.isEditing" [disabled]=schedule.isLocked color="primary" (click)="watchShifts(schedule.id)">Watch Shifts</button>
      <button mat-stroked-button *ngIf="!schedule.isEditing && role === 'MANAGER'" [disabled]=schedule.isLocked color="primary" (click)="calculateSchedule(schedule.id, true)">Finalize the cheapest schedule</button>
      <button mat-stroked-button *ngIf="!schedule.isEditing && role === 'MANAGER'" [disabled]=schedule.isLocked color="primary" (click)="calculateSchedule(schedule.id, false)">Finalize schedule by queue</button>
      <button mat-stroked-button color="warn" [disabled]=schedule.isLocked (click)="deleteSchedule(schedule.id)">Delete</button>
    </div>
  </mat-expansion-panel>


</mat-accordion>
