@import "../node_modules/angular-calendar/css/angular-calendar.css";
@import "@angular/material/prebuilt-themes/indigo-pink.css";


.data-contaner {
  display: flex;
  justify-content: center;
}

.card-container {
  padding: 20px;
  margin: 10px;
}

.submit-btn {
  margin-top: 10px !important;
}

.btn {
  margin-right: 20px;
}
