<div class="container">
  <br>
  <p *ngIf="isLoggedIn"><b>Hello!</b><br>
    This is Shift Scheduler application.<br>
    As worker you can vote for shift polls and watch your schedule in calendar.<br>
    As manager you also can create schedules and shift and send shift polls.
  <p *ngIf="!isLoggedIn">Hello!<br>To use Shift Scheduler application please log in or register.</p>
</div>
