<br>
<div class="profile-container">
  <img [src]="employee?.photo ? employee?.photo : '/assets/default-user-photo.png'" class="profile-photo">
  <h1>{{ employee?.firstName }} {{ employee?.secondName }}</h1>
  <p><strong>Username:</strong> {{ employee?.username }}</p>
  <p><strong>Position:</strong> {{ employee?.position }}</p>
  <p><strong>Birth Date:</strong> {{ employee?.birthDate }}</p>
  <p><strong>Salary:</strong> {{ employee?.salary }}</p>
  <p><strong>Phone Number:</strong> {{ employee?.phoneNumber }}</p>
  <p><strong>Role:</strong> {{ employee?.role }}</p>
</div>
