<br>
<div class="data-contaner">
  <div class="card card-container">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label>Username</label>
        <input
          type="text"
          formControlName="username"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f['username'].errors }"
        />
        <div *ngIf="submitted && f['username'].errors" class="invalid-feedback">
          <div *ngIf="f['username'].errors['required']">Username is required</div>
          <div *ngIf="f['username'].errors['minlength']">
            Username must be at least 6 characters
          </div>
          <div *ngIf="f['username'].errors['maxlength']">
            Username must not exceed 20 characters
          </div>
        </div>
      </div>

      <div class="form-group">
        <label>Password</label>
        <input
          type="password"
          formControlName="password"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f['password'].errors }"
        />
        <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
          <div *ngIf="f['password'].errors['required']">Password is required</div>
          <div *ngIf="f['password'].errors['minlength']">
            Password must be at least 6 characters
          </div>
          <div *ngIf="f['password'].errors['maxlength']">
            Username must not exceed 40 characters
          </div>
        </div>
      </div>

      <div class="form-group">
        <label>Confirm Password</label>
        <input
          type="password"
          formControlName="passwordDuplicate"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f['passwordDuplicate'].errors }"
        />
        <div
          *ngIf="submitted && f['passwordDuplicate'].errors"
          class="invalid-feedback"
        >
          <div *ngIf="f['passwordDuplicate'].errors['required']">
            Confirm Password is required
          </div>
          <div *ngIf="f['passwordDuplicate'].errors['matching']">
            Confirm Password does not match
          </div>
        </div>
      </div>

      <div class="form-group">
        <button
          type="button"
          (click)="onReset()"
          class="btn btn-secondary float-right submit-btn"
        >
          Reset
        </button>
        <button type="submit" class="btn btn-secondary submit-btn">Register</button>
      </div>

      <div class="alert alert-warning" *ngIf="submitted && isSignUpFailed">
        Signup failed!<br/>{{ errorMessage }}
      </div>
    </form>

    <div class="alert alert-success" *ngIf="isSuccessful">
      Your registration is successful!
    </div>
  </div>
</div>
